<div class="nav-tabs">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    >Space Trucker Tools</a
  >
  <a routerLink="/cargo-manifest-writer" routerLinkActive="active">Cargo Manifest Writer</a>
  <a routerLink="/workorders-overview" routerLinkActive="active">Work Orders Overview</a>
  <a routerLink="/profit-splitter" routerLinkActive="active">Profit Splitter</a>
  <a routerLink="/yield-2-sell" routerLinkActive="active">Yield 2 Sell</a>
  <a routerLink="/scavenger" routerLinkActive="active">Scavenger</a>
  <a routerLink="/aarons-jump-data" routerLinkActive="active">Aaron's Jump Data</a>
  <a routerLink="/item-lookup" routerLinkActive="active">WIP Item Lookup</a>
  <a routerLink="/profile" routerLinkActive="active">Profile</a>
</div>
