body {
  font-family: Arial, sans-serif;
  background-image: url('/imgs/SplittingProfitsBackground.png'); 
  background-color: #111;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  text-align: center;
}
