table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.5rem;
  border: 1px solid #444;
  text-align: left;
}

th {
  background-color: #111;
  color: gold;
}

input[type="number"] {
  width: 100px;
  background-color: #111;
  border: 1px solid #555;
  color: white;
  padding: 0.3rem;
  border-radius: 4px;
}

select {
  background-color: #111;
  border: 1px solid #555;
  color: white;
  padding: 0.3rem;
  width: 100%;
  border-radius: 4px;
}
